<h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">RECOGNITION </h2>
<div class="example-card" style="margin: auto;">
    <div style="background-color: #ebebebab; padding: 10px; padding-inline-end: 20px;">  
       <div class="header" style="margin-top: 20px;">
          <div class="title" style="margin-top: 20px; text-align: center; font-size: 20px; color: rgb(42, 64, 83); font-weight: bold; ">PLEASE UPLOAD AN IMAGE</div>
          <br>
          <div class="subtitle" style="align-items: center;">
            <input hidden (change)="onFileUpload($event)" class="custom-file-input" #inputImage placeholder="Upload File" type="file" />
            <button *ngIf="!uploudedphoto" mat-raised-button style="color: #fff; background-color: rgb(223, 122, 122); border-radius: 30px; margin-left: 520px;"  (click)="inputImage.click()" class="myButton">Upload Image</button>
            <button *ngIf="uploudedphoto" mat-raised-button style= "margin-left: 520px;" (click)="inputImage.click()" class="myButton">Try Other Image</button></div>
       </div>
        <div class="content">
          <br>
          <img *ngIf="uploudedphoto" mat-card-image style="height:250px; width:300px; margin-left: 445px;" src={{photo}}>
          <br>
          <div *ngFor="let ele of element" style="display: flex;justify-content: space-between;width: 400px;  margin-left: 320px; ">
            <br>
            <p>{{ele.Name}}</p>
            <p>{{ele.Confidence / 100 | percent}}</p>
    

        </div>
        <br>
        <br> 
        </div>
      </div> 
    </div>






<!-- 
<div style="display: flex;justify-content: center;margin-top: 30px;">
    <mat-card class="mat-elevation-z4" style="height: 100%;" >
        <mat-card-header>
            <mat-card-title style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">Space recognition</mat-card-title>
            <mat-card-subtitle>
              <div class="main">
                  <br>
              <input hidden (change)="onFileUpload($event)" class="custom-file-input" #inputImage placeholder="Upload File" type="file" />
              <button *ngIf="!uploudedphoto" mat-raised-button style="color: #fff; background-color: rgb(223, 122, 122); border-radius: 30px; margin-left: 60px;"  (click)="inputImage.click()" class="myButton">Upload Image</button>
              <button *ngIf="uploudedphoto" mat-raised-button style= "margin-left: 70px;" (click)="inputImage.click()" class="myButton">Try Other Image</button>
            </div>
          </mat-card-subtitle>
          </mat-card-header>
          <br>
          <mat-card-content>
            <img *ngIf="uploudedphoto" mat-card-image style="height:250px; width:300px; margin-left: 40px;" src={{photo}}>
        <br>
            <div *ngFor="let ele of element" style="display: flex;justify-content: space-between;width: 400px">
 
            <p>{{ele.Name}}</p>
            <p>{{ele.Confidence / 100 | percent}}</p>
    

        </div>
          </mat-card-content>
        </mat-card>
      </div> -->
