    <h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">BMI CALCULATOR </h2>

    <form matForm style="text-align: center;">
        <div  style="background-color: #ebebebab; padding: 0px; padding-inline-end: 40px;  border: 3px solid rgb(214, 213, 213); width: 700px; margin: auto;">
        <!-- <div>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" 
            [(ngModel)]="genderpick">
            <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
                {{gender}}
            </mat-radio-button>
            </mat-radio-group>
        </div> -->
        <br>
        <div><mat-label>Gender:</mat-label></div>
        <mat-radio-group aria-label="Select an option" style="text-align: left;">
            <mat-radio-button value="male"><mat-icon color="primary">male</mat-icon></mat-radio-button>
            <mat-radio-button value="female"><mat-icon color="accent">female</mat-icon></mat-radio-button>
          </mat-radio-group>
          <div class="d-flex justify-content-center align-items-center my-4">
            <div><mat-label>My Age:</mat-label></div>
            <span class="font-weight-bold blue-text mr-2">5</span>
            <mat-slider
                thumbLabel
                tickInterval="1000"
                min="5"
                max="97"></mat-slider>
                <span class="font-weight-bold blue-text mr-2">97</span>
            </div>
            <div class="d-flex justify-content-center align-items-center my-4">
            <div><mat-label>My Weight (Kilograms):</mat-label></div>
            <span class="font-weight-bold blue-text mr-2">10</span>
                <mat-slider
                name='weight'
                    [(ngModel)]="weightValue"
                    thumbLabel
                    tickInterval="1000"
                    min="10"
                    max="150"></mat-slider>
            <span class="font-weight-bold blue-text mr-2">150</span>
            </div>
            <div class="d-flex justify-content-center align-items-center my-4">
            <div><mat-label>My Height (Centimeter):</mat-label></div>
            <span class="font-weight-bold blue-text mr-2">40</span>
                <mat-slider
                    name='height'
                    [(ngModel)]="heightValue"
                    thumbLabel
                    tickInterval="1000"
                    min="40"
                    max="240"></mat-slider>
                <span class="font-weight-bold blue-text mr-2">240</span>
                </div>
                <div>
                    <br>
            <button mat-raised-button style="background-color: rgb(255, 174, 0); color:white;"(click) = "calculateBMI()">Calculate</button></div>
            <br>
            <p style="color: rgb(42, 64, 83); font-size: 18px; font-weight: bold;">{{result | number}} <br>{{category}}</p>
        </div>
    </form>
    <br><br><br><br><br><br><br>
