<h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">{{editMode ? 'EDIT' : 'ADD' }} PATIENT</h2>
<div>
    <form matForm style="margin: 0 auto; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ; width: 750px; background-color: rgb(255, 255, 255); padding-inline-end: 40px; padding-inline-start: 40px;">
      <div style="display: flex;justify-content: space-between; ">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput
            [(ngModel)] = "name"
             name = "name"
            required>
        </mat-form-field>

      <mat-form-field appearance="standard">
          <mat-label>Age</mat-label>
          <input matInput type="number"
          min="0" max="110" 
          [(ngModel)] = "age"
           name = "age"
          required>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Gender</mat-label>
        <mat-select place-holder="gender" [(ngModel)]="gender" name="gender" required>  
          <mat-option *ngFor="let gender of genders" [value]="gender.name">
            {{gender.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
    <div style="display: flex;justify-content: space-between;">
        <mat-form-field appearance="standard">
            <mat-label>Height</mat-label>
            <input matInput type="number"
              [(ngModel)] = "height" 
              name = "height" 
              required>
              <mat-hint>Only in Centimeters</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Weight</mat-label>
              <input matInput type="number"
                [(ngModel)] = "weight" 
                name = "weight" 
                required>
                <mat-hint>Only in Kilograms</mat-hint>
              </mat-form-field>
  
          <mat-form-field appearance="standard">
              <mat-label>SBP</mat-label>
              <input matInput type="number"
              [(ngModel)] = "sbp" 
                name = "sbp" 
                required>
                <mat-hint>Systolic blood pressure</mat-hint>
              </mat-form-field>
    </div>
    <div style="display: flex;justify-content: space-between;">
        <mat-form-field appearance="standard">
            <mat-label>DBP</mat-label>
            <input matInput type="number"
              [(ngModel)] = "dbp" 
              name = "dbp" 
              required>
              <mat-hint>Diastolic blood pressure</mat-hint>
            </mat-form-field>


        <mat-form-field appearance="standard">
            <mat-label>cholesterol</mat-label>
            <mat-select place-holder="cholesterol" [(ngModel)]="cholesterol" name="cholesterol" required>  
              <mat-option *ngFor="let level of levels" [value]="level.name">
                {{level.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


      <mat-form-field appearance="standard">
          <mat-label>glucose</mat-label>
          <mat-select place-holder="glucose" [(ngModel)]="glucose" name="glucose" required>  
            <mat-option *ngFor="let level of levels" [value]="level.name">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="display: flex;flex-direction: column; margin-top: 10px;">
        <mat-checkbox [(ngModel)]="smoke"  name = "smoke" >is smoke?</mat-checkbox>

        <mat-checkbox  [(ngModel)]="alcohol"  name = "alcohol" >is drinking alcohol?</mat-checkbox>

        <mat-checkbox [(ngModel)]="active"  name = "active" >is active?</mat-checkbox>
      </div>
      <div style="padding: 5px;  margin-bottom: 30px; margin-top: -5px; margin-left: 17px;">
        <button style="margin-bottom: 30px; margin-left: 550px; margin-top: -30px; background-color: rgb(223, 122, 122); color: #fff;" mat-raised-button 
        (click) = "onSubmit()">
        {{editMode ? 'Update' : 'Save' }}
        </button> 
        <button (click)= "onCancel()" style="margin-left: 20px;" mat-raised-button mat-raised-button 
        >
            Cancel
        </button> 
        <br>
    </div>

    </form>


  </div>

                    
  