<br>
<form style="text-align: center;" #signinForm="ngForm" (ngSubmit)="onSubmit()">
      <div  style="background-color: #ebebebab; padding: 0px; padding-inline-end: 40px;  border: 3px solid rgb(214, 213, 213); width: 500px; margin: auto;">
        <br>
        <h2 style="text-align: center; font-size: 24px; color: rgb(42, 64, 83); margin-top: 10px;">Login</h2>
        <p>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>                                       
        <div >
            <button mat-stroked-button color="primary" 
                    [disabled]="!signinForm.form.valid">
                     Login
            </button>
        </div>
        <br>
        <p style="color: rgb(255, 45, 45); font-weight: bold;" *ngIf = "isError">{{errorMessage}}</p>
      </div>
    </form>