<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: rgb(42, 64, 83);">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item style="color: rgb(42, 64, 83);" routerLink="/home" routerLinkActive="active"><mat-icon style="color: rgba(100, 100, 105, 0.582); margin-right: 5px; margin-top: -2px;">home</mat-icon>Home</a>
      <a mat-list-item style="color: rgb(42, 64, 83);" routerLink="/bmi" routerLinkActive="active"><mat-icon style="color: rgba(100, 100, 105, 0.582); margin-right: 5px; margin-top: -3px;">monitor_weight</mat-icon>BMI Calculator</a>
      <a mat-list-item style="color: rgb(42, 64, 83);" routerLink="/patients" routerLinkActive="active"><mat-icon style="color: rgba(100, 100, 105, 0.582); margin-right: 5px; margin-top: -3px;">person</mat-icon>Patients</a>
      <a *ngIf = "(authService.getUser()|async)" mat-list-item routerLink="/Addpatients" routerLinkActive="active"><mat-icon style="color: rgba(100, 100, 105, 0.582); margin-right: 6px; margin-top: -3px;">person_add</mat-icon>Add Patients</a>
      <a mat-list-item style="color: rgb(42, 64, 83);" routerLink="/doctors" routerLinkActive="active"><mat-icon style="color: rgba(100, 100, 105, 0.582); margin-right: 5px; margin-top: -3px;">masks</mat-icon>Doctors</a>
      <a mat-list-item style="color: rgb(42, 64, 83);" routerLink="/reco" routerLinkActive="active"><mat-icon style="color: rgba(100, 100, 105, 0.582); margin-right: 5px; margin-top: -3px;">wallpaper</mat-icon>Recognition</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgba(44, 65, 105, 0.582);">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img mat-card-image src="https://cdn3.iconfinder.com/data/icons/flatie-health-medical/24/health_019-cardiogram-heart-medical-healthcare-512.png" style="width: 40px; position: absolute;top: 10px; left: 10px;">

      <span style="margin-left: 40px; color: white;">Medical Portal</span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)" style="margin-right: 10px; font-size: 16px; ">Register</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)" style="margin-right: 10px; font-size: 16px; margin-left: 15px; ">Login</a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)" style="margin-right: 10px; font-size: 16px; margin-left: 15px; ">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
