<div style="padding: 15px;">
<div *ngIf = "!(authService.getUser()| async)">
  <p style="text-align: center; font-size: 16px; color: rgb(42, 64, 83); margin-top: 10px;">Oops.. Something went wrong</p>
  <p style="text-align: center; font-size: 16px; color: rgb(42, 64, 83); margin-top: 10px;">In order to see your patients list you have to sign in first!</p>
  <app-login></app-login>
<br>
<p style="text-align: center; font-size: 16px; color: rgb(42, 64, 83);">New here?</p>
<p style="text-align: center; font-weight: bold; font-size: 16px; color: rgb(42, 64, 83);"><a routerLink = "/signup">Create New User</a></p>
  <!-- <table style="width: 100%;font-size: larger;">
  <h1 style="text-align: center;">Your are not logged in</h1>
  <h2 style="text-align: center;">In order to see your patients list you have to sign in first! </h2>
    <tr>
      <th>If you don't have a user yet</th>
      <th>If you already signed up before</th>
    </tr>
    <tr>
      <th><a routerLink = "/signup">Create User</a></th>
      <th><a routerLink = "/login">Login</a></th>
    </tr>
  </table> -->
</div>

<div style="flex-direction: column;" *ngIf = "(authService.getUser()| async)" >
  <h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 5px;">PATIENTS LIST</h2>
    <button mat-raised-button style="color: #fff; background-color: rgb(223, 122, 122); border-radius: 30px; top: -50px;"
    
    (click) = "navigateToCreatePatient()">
    Add Patient
   </button>   
  </div>
  <br>
  <table mat-table style="text-align: center; margin-top: -45px;" [dataSource]="patients" class="mat-elevation-z8" *ngIf = "(authService.getUser()| async)">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.name}}</span> 
        </td>
      </ng-container>
    
      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.age}}</span> 
        </td>
      </ng-container>
    
      <!-- gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.gender}}</span>    
        </td>
      </ng-container>
    
      <!-- Height Column -->
      <ng-container matColumnDef="height">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Height </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.height}}</span>    
        </td>
      </ng-container>
  
      <!-- weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.weight}}</span>
        </td>
      </ng-container>

      <!-- SBP Column -->
      <ng-container matColumnDef="sbp">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> sbp </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.sbp}}</span>
        </td>
      </ng-container>
      <!-- dbp Column -->
      <ng-container matColumnDef="dbp">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> dbp </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.dbp}}</span>      
        </td>
      </ng-container>
      <!-- cholesterol Column -->
      <ng-container matColumnDef="cholesterol">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Cholesterol </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.cholesterol}}</span>      
        </td>
      </ng-container>

    <!-- glucose Column -->
        <ng-container matColumnDef="glucose">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Glucose </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <span>{{element.glucose}}</span>      
            </td>
        </ng-container>

    <!-- smoke Column -->
    <ng-container matColumnDef="smoke">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Smoke </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.smoke}}</span>    
        </td>
    </ng-container>
    <!-- alco Column -->
    <ng-container matColumnDef="alcohol">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Alcohol </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.alcohol}}</span>       
        </td>
    </ng-container>
    <!-- active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.active}}</span>     
        </td>
    </ng-container>

    Predict Column
      <ng-container matColumnDef="Predict">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button (click) = "predict(i)" [disabled]=element.result>
          Predict
        </button>  
      </ng-container>  
      
      <!-- result Column -->
      <ng-container matColumnDef="Result">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element">
          <span  [ngClass]="[element.result=='No' ? 'green' : 'red']">{{element.result}}</span>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button  (click) = "deletePatient(i)" >
        <mat-icon style="color:#e42a2a" >delete</mat-icon>
      </button>
        </td>
      </ng-container>    

      <ng-container matColumnDef="Edit">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-icon-button
            (click) = "navigateToEditPatient(i)"
          >
          <mat-icon style="color:rgb(65, 65, 65)">edit</mat-icon>
          </button>                  
        </td>
      </ng-container>    
  
          
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  
   

    </table>
  </div>