<div style="padding: 15px;">
  <div *ngIf = "!(authService.getUser()| async)">
    <p style="text-align: center; font-size: 16px; color: rgb(42, 64, 83); margin-top: 10px;">Oops.. Something went wrong</p>
    <p style="text-align: center; font-size: 16px; color: rgb(42, 64, 83); margin-top: 10px;">In order to see your patients list you have to sign in first!</p>
    <app-login></app-login>
  <br>
  <p style="text-align: center; font-size: 16px; color: rgb(42, 64, 83);">New here?</p>
  <p style="text-align: center; font-weight: bold; font-size: 16px; color: rgb(42, 64, 83);"><a routerLink = "/signup">Create New User</a></p>
    <!-- <table style="width: 100%;font-size: larger;">
    <h1 style="text-align: center;">Your are not logged in</h1>
    <h2 style="text-align: center;">In order to see your patients list you have to sign in first! </h2>
      <tr>
        <th>If you don't have a user yet</th>
        <th>If you already signed up before</th>
      </tr>
      <tr>
        <th><a routerLink = "/signup">Create User</a></th>
        <th><a routerLink = "/login">Login</a></th>
      </tr>
    </table> -->
  </div>
  

<div style="padding: 15px;" *ngIf = "(authService.getUser()| async)">
    <div style="flex-direction: column;">
      <h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 5px;">DOCTORS LIST</h2>
        <button mat-raised-button style="color: #fff; background-color: rgb(223, 122, 122); border-radius: 30px; top: -50px;"
        
        (click) = "navigateToCreateDoctor()">
        Add Doctor
       </button>   
      </div>
      <br>
      <table mat-table style="text-align: center; margin-top: -45px;" [dataSource]="doctors" class="mat-elevation-z8">
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span>{{element.id}}</span> 
            </td>
          </ng-container>
        
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span>{{element.name}}</span> 
            </td>
          </ng-container>
        
          <!-- Department Column -->
          <ng-container matColumnDef="department">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span>{{element.department}}</span> 
            </td>
          </ng-container>
        
          <!-- Years Column -->
          <ng-container matColumnDef="years">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Seniority in years </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span>{{element.years}}</span>    
            </td>
          </ng-container>
    
          <!-- Delete Column -->
          <ng-container matColumnDef="Delete">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button  (click) = "deleteDoctor(i)" >
            <mat-icon style="color:#e42a2a" >delete</mat-icon>
          </button>
            </td>
          </ng-container>    
    
          <ng-container matColumnDef="Edit">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button 
                mat-icon-button
                (click) = "navigateToEditDoctor(i)"
              >
              <mat-icon style="color:rgb(65, 65, 65)">edit</mat-icon>
              </button>                  
            </td>
          </ng-container>    
      
              
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>