<h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">{{editMode ? 'EDIT' : 'ADD' }} DOCTOR</h2>
<div>
    <form matForm style="margin: 0 auto; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ; width: 750px; background-color: rgb(255, 255, 255); padding-inline-end: 40px; padding-inline-start: 40px;">
      <div style="display: flex;justify-content: space-between; ">

        <mat-form-field appearance="standard">
            <mat-label>Id</mat-label>
            <input matInput
            [disabled] = "editMode"
            [(ngModel)] = "id"
             name = "id"
            required>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput
            [(ngModel)] = "name"
             name = "name"
            required>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Department</mat-label>
            <input matInput
            [(ngModel)] = "department"
             name = "department"
            required>
        </mat-form-field>

      <mat-form-field appearance="standard">
          <mat-label>Seniority in years</mat-label>
          <input matInput type="number"
          min="0" max="110" 
          [(ngModel)] = "years"
           name = "years"
          required>
      </mat-form-field>

      </div>
      <div style="padding: 5px;  margin-bottom: 30px; margin-top: -5px; margin-left: 17px;">
        <button style="margin-bottom: 30px; margin-left: 550px; margin-top: -30px; background-color: rgb(223, 122, 122); color: #fff;" mat-raised-button 
        (click) = "onSubmit()">
        {{editMode ? 'Update' : 'Save' }}
        </button> 
        <button (click)= "onCancel()" style="margin-left: 20px;" mat-raised-button mat-raised-button 
        >
            Cancel
        </button> 
        <br>
    </div>

    </form>


  </div>

                    
  