<h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">HOME </h2>
<div style="width:800px; margin:auto;">
<h3 style="text-align: center; font-size: 16px; color: rgb(42, 64, 83); margin-top: 20px;"> Welcome to our medical portal about heart disease subjects, here you can find the latest articles published in medical jornals all over the world. In addition you can use our BMI calculator to find out if your weight is normal or not.
You can also enter the data on yourself and check if you have a chance of getting heart disease or not. 
Hope the informetion here will be usefull for you!</h3></div>
<br>
<mat-spinner  style="margin: auto;" *ngIf = "articles.length === 0"></mat-spinner>
<div class="example-card" style="margin: auto;" *ngFor = "let article of articles">
<div style="background-color: #ebebebab; padding: 10px; padding-inline-end: 20px;">  
   <div class="header" style="margin-top: 20px;">
      <div class="title" style="margin-top: 20px; margin-left: 18px; font-size: 20px; color: rgb(42, 64, 83); font-weight: bold; ">{{article.title}}</div>
      <div class="subtitle" style="margin-left: 19px ;color: rgb(42, 64, 83); font-size: 16;">{{article.source.name}}</div>
   </div>
    <div class="content" style="margin-left: 18px;">
      <br>
      <img [src]="article.image" style="width: 400px; margin-left: 80px; ">
      <p>{{article.content}}</p>
    <a href = {{article.url}} target="_blank" style="font-weight: bold;"> Further reference </a>
    <br>
    <br> 
    </div>
  </div> 
</div>
  